
.header {
    background-color: rgba(0,0,0,0);
}
.header-inner {
    margin: auto;
    width: 1440px;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    background:linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,1));
}

img {
 height: 100px;
 width: 100px;
 
}
.men {
    color: rgba(1, 0, 0, 0);
    text-decoration: none ;
    font-weight: 700;
    font-size: 25px;
    margin-right: 25px;
    text-shadow: -1px 0 red, 0 1px red, 1px 0 black, 0 -1px black;
}
.men:hover {
   
    color:rgb(0, 0, 0);
    opacity:1;
    cursor: pointer;
}


@media screen and  (max-width: 768px){
    .nav{
    display: none;
    }
    .setka{
        width:auto;
    }
}
.main {
   display: inline-block;
   width: 33.3%;
   height: auto;
   margin-left: 10px;
   vertical-align: middle;
}
.propose {
    width:300px;
    height: 350px;

    
}
.button {
    display: inline-flex;
    justify-content: center;
    text-align: center;
    width: 33.3%;
    height: auto;
    vertical-align: middle;
}
.push {
    width: 350px;
    height: 200px;
    margin-right: 20px;
}
img.push:hover {
   opacity: 0.7;
}